.key {
  background-color: $clr-key-primary;
  color: $clr-text-key-light;
  border-radius: 0.5rem;
  box-shadow: $shadow;

  width: 5vw;
  min-width: 4rem;
  max-width: 6rem;
  height: 4rem;
  min-height: 4rem;

  transition: $transition;

  @media (hover: hover) and (pointer: fine) {
    &:not(:disabled):hover {
      cursor: pointer;
      background-color: $clr-key-darker;
    }
  }

  @media (max-width: $tablet-width) {
    min-width: 5rem;
  }

  @media (max-width: $custom-mid-width) {
    min-width: 4rem;
  }

  @media (max-width: $custom-small-width) {
    min-width: 3rem;
    height: 2rem;
  }

  &:disabled {
    cursor: default;
    background-color: $clr-key-light;
    box-shadow: $shadow-inner;

    transform: translateY(2px);
  }
}