html {
  font-size: 62.5%;
}

.page {
  margin: 2rem auto;
  font-size: 1.6rem;
  font-weight: 400;
  font-family: $font-family;
  color: $clr-text;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 4rem);
}

.img {
  display: block;
  width: 100%;
  object-fit: cover;
}